[submodule "private/mujoco"]
	path = private/mujoco
	url = git@bitbucket.org:dementrock/private-mujoco.git
[submodule "private/atari_roms"]
	path = private/atari_roms
	url = git@bitbucket.org:dementrock/private-atari.git
[submodule "private/mujoco_sources"]
	path = private/mujoco_sources
	url = git@bitbucket.org:dementrock/private-mujoco-sources.git
