data
*.pyc
*-checkpoint.ipynb
.DS_Store
*.h5
*.log
*.npz
secrets.py
*.avi
*.mp4
build
build_linux
.idea
.sublime-project
run_experiment.sh
notebooks
*.ipynb
launch_scripts
*.sh.e*
*.sh.o*
MUJOCO_LOG.TXT
.project
.pydevproject
*.pdf
iterate.dat
