data/*
!data/Figures/
data_upload/*
!data_upload/state_collections/
*.pyc
*-checkpoint.ipynb
.DS_Store
*.h5
*.log
*.npz
secrets.py
*.avi
*.mp4
build
build_linux
.idea
.sublime-project
run_experiment.sh
scratch-notebooks
launch_scripts
*.sh.e*
*.sh.o*
MUJOCO_LOG.TXT
vendor/mujoco
.project
.pydevproject
*.pdf
.env
snippets
private
lua
iterate.dat
.env
src/
.settings
.pods
docs/_build
blackbox.zip
blackbox
rllab/config_personal.py
*.swp
*.dat
*.sublime-project
*.sublime-workspace
*.bin
*.sh
MNIST/
logs/
*.html
*.csv
*.ipynb
.remote-sync.json
sandbox/rocky/exp_data
__pycache__
conopt
conopt_root
.c9/
sandbox/michael/tracking_data
*.npy.z
gpr_package
gpr_root
_pyxbld
sandbox/rocky/motor
*.egg-info

temp/
