--index-url https://pypi.python.org/simple/
numpy
scipy
nose
path.py
python-dateutil
joblib
pyprind
mako
ipdb
ipywidgets
flask
git+https://github.com/dementrock/Theano.git@238d6b0de308cccc99102fafbb9dcd923497aa70#egg=Theano
git+https://github.com/Lasagne/Lasagne.git@19b9d958507e7300e355d7cd1a6bbff2c7726c07#egg=Lasagne
git+https://github.com/pybox2d/pybox2d.git@8825b16c98a144af53bac9514727c77976a2372c#egg=box2d
git+https://github.com/dementrock/pygame.git@482d1bb24667cdecaebe70b1619817d116c0a407#egg=pygame
git+https://github.com/dementrock/plotly.py.git@2594076e29584ede2d09f2aa40a8a195b3f3fc66#egg=plotly
