Pillow
atari-py
pyprind
ipdb
boto3
PyOpenGL
nose2
pyzmq
msgpack-python
mujoco_py
cached_property
line_profiler
cloudpickle
Cython
redis
Theano
Lasagne
plotly
awscli
gym
pyglet
prettytensor
jupyter
progressbar2
chainer==1.18.0
tensorflow>=0.11.0
